.container {
    width: 100%;
}

.list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}

.item {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 15px;
}